[submodule "ThirdParty/UncleDon-Logger"]
	path = ThirdParty/UncleDon-Logger
	url = https://github.com/DYYYYYYYF/UncleDon-Logger.git
[submodule "ThirdParty/Eigen"]
	path = ThirdParty/Eigen
	url = https://gitlab.com/libeigen/eigen.git
